<div ng-controller="AuthController">
<center>
  <div class="w-25 p-3">
    <div layout-gt-sm="column">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input ng-model="user.email">
      </md-input-container>

      <md-input-container class="md-block" flex-gt-sm>
        <label>Senha</label>
        <input type="password" ng-model="user.password">
      </md-input-container>
    </div>

    <div>
      <md-button type="submit" class="md-raised md-primary" ng-click="goToRegister()">Registrar</md-button>
      <md-button type="submit" class="md-raised md-primary" ng-click="sign_in()">Entrar</md-button>
    </div>
  </div>
</center>
</div>
