<div class="container">
  <h3 class="module-title">Propriedades</h3>
  <div class="properties-overview" layout="row">
    <div flex>
      <md-list flex>
        <md-list-item ng-click="selectProperty(property)" ng-repeat="property in proprieties">
          <div class="md-list-item-text" layout="column">
            <h5>{{property.address}}</h5>
          </div>
        </md-list-item>
      </md-list>
    </div>
    <div flex>
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" ng-show="current_property" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <b> {{current_property.address}} </b> <br/>
            <b ng-show="current_property.visits[0]"> Visitas recentes: </b> <br/>
            <b ng-hide="current_property.visits[0]"> Sem visitas recentes </b> <br/>
            <span class="md-subhead" ng-repeat="visit in current_property.visits"> {{formatDate(visit.visitDate)}} </span> <br/>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="{{current_property.photo}}" class="md-card-image" alt="Washed Out">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <div ng-repeat="agent in current_property.assignedUsers | limitTo:3" class="agent-wrapper">
            {{getAgent(agent).fullName}}
          </div>
          <md-button class="md-fab md-primary md-mini action-button" aria-label="Adicionar Agente" ng-click="showAddAgent($event)">
            <i class="button-fab-icon material-icons">person_add</i>
          </md-button>
          <md-button class="md-fab md-primary md-mini action-button" aria-label="Editar" ng-click="showEdit($event)">
            <i class="button-fab-icon material-icons">edit</i>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</div>
<div class="floating-buttons">
  <md-button class="md-fab md-primary md-mini">
    <i class="button-fab-icon material-icons">search</i>
  </md-button>
  <md-button class="md-fab md-primary md-mini" ng-click="showAdvanced($event)">
    <i class="button-fab-icon material-icons">add</i>
  </md-button>
</div>
