body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

.md-toolbar-tools{
  color: white;
}

h1 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

.button-fab-icon {
  padding-top:6px;
}

.properties-title {
  text-align: center;
  padding-left: 200px;
}
.widget-title {
  display: block;
  color: rgb(175, 173, 173);
  padding: 0px 10px;
  text-align: center;
  padding-bottom: 16px;
}

.widget {
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  padding: 20px 20px;
  width: 98%;
}

.module-title {
  padding-top: 20px;
  font-weight: bold;
  margin-bottom: -20px;
  color: rgb(99, 106, 109);
}

.toolbar-center {
  width: 100%;
  display: flex;
}

h5 {
  font-size: 1.0rem;
  color: #575859;
}

body {
  background-color: rgb(250,250,250);
}

.white-component {
  padding: 60px 40px !important;
  border-radius: 5px;
  padding-top: 30px !important;
}

.component-title {
  padding-bottom: 30px;
}

.properties-overview {
   padding-top: 30px;
}

.agent-wrapper {
  display: flex;
  margin-right: auto;
}

.floating-buttons {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.avatar {
  margin-left: 10px !important;
  margin-right: 10px !important;
  height: 40px;
  border-radius: 24px;
  padding: 0px !important;
}

.action-button {
  margin: 10px !important;
}
